/* * generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #141423;
}

.contenitore {
    width: 100%;
    height: 100vh;
}

/* * header */
header {
    width: 100%;
    height: 5rem;
    background-color: #fff;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

header .header-sx {
    width: 550px;
    display: flex;
    justify-content: space-between;
    line-height: 5rem;
    padding-left: 8rem;
    cursor: pointer;
}

header .header-center {
    flex-grow: 1;
    text-align: center;
    line-height: 5rem;
}

header .header-center img {
    height: 30%;
}

header .header-dx {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8rem;
    position: relative;
}

header .header-dx i:first-child {
    position: relative;
}

header .header-dx .acquisti-carrello {
    width: 1rem;
    height: 1rem;
    font-size: 13px;
    text-align: center;
    line-height: 1rem;
    border-radius: 50%;
    background-color: #2fab97;
    position: absolute;
    right: -0.6rem;
    top: -0.5rem;
}

header .header-dx i {
    font-size: 1.3rem;
    padding-left: 3rem;
    cursor: pointer;
}

header .header-dx i:last-child {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: #2fab97;
}

header .header-dx .casella-input {
    position: relative;
    padding-left: 2rem;
}

header .header-dx .casella-input input {
    outline: none;
    border: none;
    background-color: #eeeeee;
    padding: 1rem 2rem;
}

/* * jumbotron */
.jumbo {
    width: 100%;
    height: 700px;
    margin-top: 5rem;
    color: #fff;
    background-image: url('../img/home-3-hero-bg.jpg');
    position: relative;
}

.jumbo .testo-jumbo {
    text-align: center;
    line-height: 1.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbo .testo-jumbo h1 {
    font-weight: lighter;
    font-size: 3rem;
}

.jumbo .testo-jumbo button {
    color: #1fad95;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 3rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
}

.jumbo .testo-jumbo button i {
    vertical-align: middle;
}

.jumbo .testo-jumbo button:hover {
    color: #fff;
    background-color: #1fad95;
    cursor: pointer;
}

/* * main */
main section {
    width: 100%;
    padding-bottom: 5rem;
}

main section h4 {
    font-weight: normal;
    color: #6c6c6b;
    line-height: 1.6;
}

main section span {
    color: #1fad95;
}

main section h2 {
    font-size: 2rem;
}


/* * sezione learn-about*/
main #learn-about .contenitore-learn-about,
main #upgrade-skills .contenitore-upgrade-skills,
main #people .contenitore-people,
main #transform-you .contenitore-transform-you {
    width: 1200px;
    padding-top: 10rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


main #learn-about .testo-learn-about,
main #online-courses .box-corsi > div,
main #people .testo-people {
    width: calc(100% / 3);
}


main #learn-about .img-learn-about,
main #upgrade-skills .upgrade-skills-sx,
main #transform-you .img-transform-you {
    width: calc(100% / 2);
    position: relative;
}

main #learn-about .img-learn-about .img-base {
    position: relative;
    z-index: 0;
}


main #learn-about .img-learn-about .img-sovrapposta {
    position: absolute;
    right: -3rem;
    top: -6rem;
    z-index: 3;
}

main #learn-about .img-learn-about .decorazione-1 {
    position: absolute;
    top: -6rem;
    right: 3rem;
    z-index: -1;
}

main #learn-about .img-learn-about .decorazione-2 {
    position: absolute;
    bottom: -5rem;
    right: 5rem;
}


/* * sezione numeri */
main #numeri .contenitore-numeri {
    width: 100%;
    color: #1fad95;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

main #numeri .contenitore-numeri span i {
    font-size: 2rem;
    vertical-align: middle;
}


main #numeri .finished-sessions,
main #numeri .satisfaction-rate {
    padding-left: 8rem;
}

main #numeri .learners h4,
main #numeri .finished-sessions h4,
main #numeri .satisfaction-rate h4 {
    font-size: 1rem;
    color: #8c8d8a;
    padding-top: 1rem;
}


/* * sezione upgrade-skills */
main #upgrade-skills .upgrade-skills-sx .img-base {
    width: 90%;
    z-index: 3;
}

main #upgrade-skills .upgrade-skills-sx .logo-youtube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main #upgrade-skills .upgrade-skills-sx .decorazione-3 {
    position: absolute;
    left: -4rem;
    top: 2rem;
    z-index: -1;
}

main #upgrade-skills .upgrade-skills-sx .decorazione-2 {
    position: absolute;
    right: 3.3rem;
    bottom: -4rem;
    z-index: -1;
}

main #upgrade-skills .upgrade-skills-dx {
    width: calc(100% / 2);
    padding-left: 3rem;
    padding-right: 5rem;
}


/* * sezione online-courses */
main #online-courses {
    background-color: #e2e2e0;

}

main #online-courses .contenitore-online-courses {
    width: 1200px;
    margin: auto;
    padding-top: 5rem;
    text-align: center;
}


main #online-courses h4{
    text-transform: uppercase;
    font-size: 1rem;
}

main #online-courses h2 span {
    font-weight: normal;
}

main #online-courses .box-corsi {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

main #online-courses .box-corsi .card {
    width: calc(100% / 3);
    background-color:#fff;
    border-radius: 0.3rem;
    justify-content: space-between;
    margin-left: 1rem;
    position: relative;
}


main #online-courses .box-corsi img {
    width: 100%;
    border-radius: 0.3rem;
}

main #online-courses .box-corsi h3 {
    color: #1fad95;
    padding: 1rem 0
}

main #online-courses .box-corsi h4 {
    text-transform: none;
    font-weight: bold;
    padding-bottom: 3rem;
}

main #online-courses .box-corsi .card:hover {
    border-radius: 0.3rem;
    background-color: #f5f3f3;
    cursor: pointer;
}

main #online-courses .box-corsi .free {
    width: 4rem;
    height: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
    color: #fff;
    background-color: coral;
    position: absolute;
    right: 0;
    top: 0;
}

/* * sezione people */
main #people .card-people {
    width: calc(100% / 2);
}

main #people .card-people .box-card {
    width: 100%;
    height: 300px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
    padding: 2rem 4rem;
}

main #people .card-people .box-card h4:first-child {
    color: black;
    font-weight: bold;
}

main #people .card-people .box-card .avatar {
    display: flex;
    align-items: center;
}

main #people .card-people .box-card .avatar img {
    width: 20%;
    margin-top: 2rem;
    border-radius: 50%;
}

main #people .card-people .box-card .avatar h5 {
    padding-left: 2rem;
}

main #people .card-people .box-card .avatar h5 small {
    color: #8c8d8a;
}


/* * sezione transform-you */
main #transform-you .testo-transform-you {
    width: calc(100% / 2);
    padding-right: 5rem;
    padding-left: 5rem;
}

main #transform-you .img-transform-you {
    text-align: right;
}

main #transform-you .img-transform-you .decorazione-3 {
    position: absolute;
    left: -2rem;
    bottom: 9rem;
}

main #transform-you .img-transform-you .decorazione-1 {
    position: absolute;
    bottom: -5rem;
    right: 9rem;
    z-index: -1;
}

main #transform-you .img-transform-you .decorazione-4 {
    position: absolute;
    left: -9rem;
    bottom: 0;
}

main #transform-you .testo-transform-you {
    padding-top: 5rem;
}

main #transform-you .testo-transform-you button {
    color: #fff;
    font-weight: bold;
    background-color: #1fad95;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 4rem;
    margin-top: 2rem;
    cursor: pointer;
}


