/* * generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #141423;
}

.contenitore {
    max-width: 100%;
    height: 100vh;
}

/* * header */
header {
    width: 100%;
    height: 5rem;
    background-color: #fff;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    box-shadow: 6px 4px 6px rgba(204, 203, 203, 0.5);
}

header .header-sx,
header .header-dx  {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .header-sx {
    justify-content: flex-end;
}

header .header-sx .elementi-header-sx:not(:first-child) {
    padding-left: 1rem;
}

header .header-sx .elementi-header-sx a {
    text-decoration: none;
    color: #141423;
}

header .header-sx .elementi-header-sx a:hover {
    text-decoration: underline;
}

header .header-center {
    flex-grow: 1;
    text-align: center;
    align-self: center;
}

header .header-center img {
    height: 1.6rem;
}

header .header-dx i:first-child {
    position: relative;
}

header .header-dx .acquisti-carrello {
    width: 1rem;
    height: 1rem;
    font-size: 13px;
    text-align: center;
    line-height: 1rem;
    border-radius: 50%;
    background-color: #2fab97;
    position: absolute;
    right: -0.6rem;
    top: -0.5rem;
}

header .header-dx i {
    font-size: 1.3rem;
    padding-left: 3rem;
    cursor: pointer;
}

header .header-dx i:hover {
    color: #1fad95;
}

header .header-dx i:last-child {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: #2fab97;
}

header .header-dx .casella-input {
    position: relative;
    padding-left: 2rem;
}

header .header-dx .casella-input input {
    outline: none;
    border: none;
    background-color: #eeeeee;
    padding: 1rem 2rem;
}

header .hamburger-menu {
    width: calc(100% / 3);
    line-height: 5rem;
    text-align: center;
    font-size: 1.5rem;
    display: none;
}

header .tendina {
    width: 310px;
    height: 27rem;
    margin-top: 5rem;
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    border-bottom: 4px solid #1fad95;
    position: absolute;
    right: 15%;
}

header .tendina i {
    float: right;
    clear: both;
    font-size: 1.3rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    cursor: pointer;
}

header .tendina .el-tendina {
    padding-top: 2rem;
    text-align: center;
    line-height: 1.5rem;
}

header .tendina .el-tendina a {
    color: #1fad95;
    text-decoration: none;
}

header .tendina .el-tendina:hover a {
    cursor: pointer;
    text-decoration: underline;
}

/* * jumbotron */
.jumbo {
    width: 100%;
    height: 700px;
    margin-top: 5rem;
    color: #fff;
    background-image: url('../img/home-3-hero-bg.jpg');
    background-position: center;
    position: relative;
}

.jumbo .testo-jumbo {
    text-align: center;
    line-height: 1.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbo .testo-jumbo h1 {
    font-weight: lighter;
    font-size: 3rem;
}

.jumbo .testo-jumbo button {
    color: #1fad95;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 3rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
}

.jumbo .testo-jumbo button i {
    vertical-align: middle;
}

.jumbo .testo-jumbo button:hover {
    color: #fff;
    background-color: #1fad95;
    cursor: pointer;
}

/* * main */
main section {
    width: 100%;
    padding-bottom: 5rem;
}

main section h4 {
    font-weight: normal;
    color: #6c6c6b;
    line-height: 1.6;
}

main section span {
    color: #1fad95;
}

main section h2 {
    font-size: 2rem;
    line-height: 1.6;
}

main section p {
    line-height: 2;
    padding-bottom: 3rem;
}


/* * sezione learn-about*/
main #learn-about .contenitore-learn-about,
main #upgrade-skills .contenitore-upgrade-skills,
main #people .contenitore-people,
main #transform-you .contenitore-transform-you {
    width: 1200px;
    padding-top: 10rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


main #learn-about .testo-learn-about,
main #online-courses .box-corsi > div,
main #people .testo-people {
    width: calc(100% / 3);
}


main #learn-about .img-learn-about,
main #upgrade-skills .upgrade-skills-sx,
main #transform-you .img-transform-you {
    width: calc(100% / 2);
    position: relative;
}

main #learn-about .img-learn-about .img-base {
    position: relative;
    z-index: 0;
}


main #learn-about .img-learn-about .img-sovrapposta {
    position: absolute;
    right: -3rem;
    top: -6rem;
    z-index: 3;
}

main #learn-about .img-learn-about .decorazione-1 {
    position: absolute;
    top: -6rem;
    right: 3rem;
    z-index: -1;
}

main #learn-about .img-learn-about .decorazione-2 {
    position: absolute;
    bottom: -5rem;
    right: 5rem;
}


/* * sezione numeri */
main #numeri .contenitore-numeri {
    width: 100%;
    color: #1fad95;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

main #numeri .contenitore-numeri span i {
    font-size: 2rem;
    vertical-align: middle;
}


main #numeri .finished-sessions,
main #numeri .satisfaction-rate {
    padding-left: 8rem;
}

main #numeri .learners h4,
main #numeri .finished-sessions h4,
main #numeri .satisfaction-rate h4 {
    font-size: 1rem;
    color: #8c8d8a;
    padding-top: 1rem;
}


/* * sezione upgrade-skills */
main #upgrade-skills .upgrade-skills-sx .img-base {
    width: 90%;
    z-index: 3;
}

main #upgrade-skills .upgrade-skills-sx .logo-youtube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main #upgrade-skills .upgrade-skills-sx .decorazione-3 {
    position: absolute;
    left: -4rem;
    top: 2rem;
    z-index: -1;
}

main #upgrade-skills .upgrade-skills-sx .decorazione-2 {
    position: absolute;
    right: 3.3rem;
    bottom: -4rem;
    z-index: -1;
}

main #upgrade-skills .upgrade-skills-sx .decorazione-5 {
    position: absolute;
    left: -5rem;
    top: -8.5rem;
    z-index: -2;
}

main #upgrade-skills .upgrade-skills-dx {
    width: calc(100% / 2);
    padding-left: 3rem;
    padding-right: 5rem;
}


/* * sezione online-courses */
main #online-courses {
    margin-top: 3rem;

}

main #online-courses .contenitore-online-courses,
main #blog .contenitore-blog,
main #subscribe .contenitore-subscribe,
footer .contenitore-footer  {
    width: 1200px;
    margin: auto;
    padding-top: 5rem;
    text-align: center;
}


main #online-courses h4{
    text-transform: uppercase;
    font-size: 1rem;
}

main #online-courses h2 span {
    font-weight: normal;
}

main #online-courses .box-corsi,
main #blog .box-blogs {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

main #online-courses .box-corsi .card {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s linear;
}

main #online-courses .box-corsi .card,
main #blog .box-blogs .blog {
    width: calc(100% / 3);
    border-radius: 0.3rem;
    justify-content: space-between;
    margin-left: 1rem;
    position: relative;
}


main #online-courses .box-corsi img {
    width: 100%;
    border-radius: 0.3rem;
}


main #online-courses .box-corsi h3 {
    color: #1fad95;
    padding: 1rem 0
}

main #online-courses .box-corsi h4 {
    text-transform: none;
    font-weight: bold;
    padding-bottom: 1rem;
    transition: all 0.3s linear;
}

main #online-courses .box-corsi h4:hover {
    color: #1fad95;
}

main #online-courses .box-corsi .card .box-lezioni,
main #blog .box-blogs .blog .box-dettagli {
    display: flex;
    justify-content: space-around;
    color: #b1b1b1;
    padding-bottom: 3rem;
}

main #online-courses .box-corsi .card:hover {
    border-radius: 0.3rem;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

main #online-courses .box-corsi .free {
    width: 4rem;
    height: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
    color: #fff;
    background-color: #ee7455;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
}

main #online-courses .box-corsi .free::after,
main #online-courses .box-corsi .free::before {
    content: '';
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

main #online-courses .box-corsi .free::after {
    bottom: 0;
    border-bottom: 20px solid #ee7455;
}

main #online-courses .box-corsi .free::before {
    top: 0;
    border-top: 20px solid #ee7455;
}


/* * sezione people */
main #people .card-people {
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

main #people .card-people .box-card,
main #people .card-people .box-card-sotto,
main #people .card-people .box-card-sopra {
    width: 100%;
    height: 300px;
    background-color: #fff;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
    padding: 2rem 4rem;
    z-index: 3;
}

main #people .card-people .box-card-sotto,
main #people .card-people .box-card-sopra {
    width: 80%;
    position: absolute;
    top: 30%;
    opacity: 0.5;
    z-index: -1;
}

main #people .card-people .box-card-sopra {
    top: -6.4rem;
}

main #people .card-people .box-card h4:first-child,
main #people .card-people .box-card-sotto h4:first-child,
main #people .card-people .box-card-sopra h4:first-child {
    color: black;
    font-weight: bold;
}

main #people .card-people .box-card .avatar,
main #people .card-people .box-card-sotto .avatar,
main #people .card-people .box-card-sopra .avatar {
    display: flex;
    align-items: center;
}

main #people .card-people .box-card .avatar img,
main #people .card-people .box-card-sotto .avatar img,
main #people .card-people .box-card-sopra .avatar img {
    width: 20%;
    margin-top: 2rem;
    border-radius: 50%;
}

main #people .card-people .box-card .avatar h5,
main #people .card-people .box-card-sotto .avatar h5,
main #people .card-people .box-card-sopra .avatar h5 {
    padding-left: 2rem;
    text-transform: uppercase;
}

main #people .card-people .box-card .avatar h5 small,
main #people .card-people .box-card-sotto .avatar h5 small,
main #people .card-people .box-card-sopra .avatar h5 small {
    color: #8c8d8a;
    text-transform: none;
}


/* * sezione transform-you */
main #transform-you .testo-transform-you {
    width: calc(100% / 2);
    padding-right: 5rem;
    padding-left: 5rem;
}

main #transform-you .img-transform-you {
    text-align: right;
}

main #transform-you .img-transform-you .decorazione-3 {
    position: absolute;
    left: -2rem;
    bottom: 9rem;
}

main #transform-you .img-transform-you .decorazione-1 {
    position: absolute;
    bottom: -5rem;
    right: 9rem;
    z-index: -1;
}

main #transform-you .img-transform-you .decorazione-4 {
    position: absolute;
    left: -9rem;
    bottom: 0;
}

main #transform-you .img-transform-you .decorazione-5 {
    position: absolute;
    left: 1rem;
    top: -2rem;
    z-index: -2;
}

main #transform-you .testo-transform-you {
    padding-top: 5rem;
}

main #transform-you .testo-transform-you button {
    color: #fff;
    font-weight: bold;
    background-color: #1fad95;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 4rem;
    margin-top: 2rem;
    cursor: pointer;
}

main #transform-you .testo-transform-you button:hover,
main #subscribe .input-subscribe button:hover {
    background-color: #3a3a53;
}

/* * sezione blog */
main #blog {
    background-color: #e2e2e0;
    margin-top: 3rem;
}
main #blog .box-blogs {
    width: 100%;
    display: flex;
}

main #blog .blog {
    width: calc(100% / 3);
    padding-top: 3rem;
    text-align: left;
    line-height: 1.6;
}

main #blog .blog h3 {
    padding-right: 4rem;
}

main #blog .blog img {
    width: 95%;
    border-radius: 0.3rem;
}

main #blog .box-blogs h3:hover {
    cursor: pointer;
    color: #1fad95;
}

main #blog .box-blogs .blog .box-dettagli {
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-right: 2rem;
}



/* * sezione subscribe */
main #subscribe {
    position: relative;
    padding-bottom: 5rem;
}

main #subscribe .subscribe-testo {
    width: 100%;
    padding: 0 23rem;
}

main #subscribe .subscribe-testo p {
    padding-top: 1rem;
}

main #subscribe .input-subscribe {
    width: 100%;
}

main #subscribe .input-subscribe input {
    padding: 1rem;
    padding-right: 20rem;
    outline: none;
    border: none;
    background-color: #e2e2e0;
}

main #subscribe .input-subscribe button {
    color: #fff;
    background-color: #2fab95;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 1rem;
    cursor: pointer;
}


main #subscribe .decorazione-3 {
    position: absolute;
    right: 18rem;
    top: 8rem;
}

/* * footer */
footer {
    width: 100%;
    height: 20rem;
    background-color: #141423;
    color: #fff;
}

footer .contenitore-footer {
    display: flex;
    text-align: left;
}

footer .address {
    width: calc(100% / 2);
    line-height: 2;
}

footer .address .indirizzi,
footer .information > div,
footer .explore .contenitore-el {
    font-size: 0.8rem;
    color: #b1b1b1;
    cursor: pointer;
}

footer .address .indirizzi:hover,
footer .information > div:hover,
footer .explore .el-explore:hover {
    color: #1fad95;
}

footer .address ul {
    list-style: none;
}

footer .address ul li {
    display: inline-block;
    font-size: 1.3rem;
    cursor: pointer;
}

footer ul li i {
    color: #b1b1b1;
}

footer ul li i:hover {
    color: #fff;
}

footer .address ul li:not(:first-child) {
    padding-left: 1.5rem;
}

footer .explore,
footer .information {
    width: calc(100% / 5);
    line-height: 2;
}


footer .explore .contenitore-el {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer .copyright {
    width: 100%;
    text-align: center;
    color: #b1b1b1;
    padding-top: 3.5rem;
}

/* * bottoncino */
.bottoncino {
    position: absolute;
    right: 3rem;
    top: 350rem;
    z-index: 998;
}
.bottoncino i {
    padding: 1rem;
    color: #fff;
    background-color: #1fad95;
    border-radius: 50%;
    cursor: pointer;
}

/* * mediaqueries */
@media screen and (max-width: 1500px){

    header .header-sx,
    header .header-dx {
        display: none;
    }

    header .header-center {
        width: calc(100% / 2);
        text-align: center;
        padding-right: 5rem;
    }

    header .hamburger-menu {
        color: #1fad95;
        display: inline-block;
        cursor: pointer;
    }
}

/* * classi js */
.show {
    display: inline-block;
}

.hidden {
    display: none;
}