<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaxCoach - Online Courses, Personal Coaching & Education WP Theme Preview - ThemeForest</title>
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-32x32.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <!-- * contenitore -->
    <div id="root" class="contenitore">

        <!-- *header -->
        <header>
            <!-- ! header-sx -->
            <div class="header-sx">
                <div class="elementi-header-sx" v-for="elementi in listaHeaderSx">
                    {{ elementi }}
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
            <!-- ! /header-sx -->

            <!-- ! header-center -->
            <div class="header-center">
                <img src="img/dark-logo.png" alt="Logo">
            </div>
            <!-- ! /header-center -->

            <!-- ! header-dx -->
            <div class="header-dx">
                <i class="fas fa-shopping-cart">
                    <span class="acquisti-carrello">0</span>
                </i>
                <i class="far fa-user-circle"></i>
                <div class="casella-input">
                    <input type="text" placeholder="Search..">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <!-- ! /header-dx -->
        </header>
        <!-- * /header -->

        <!-- * jumbotron -->
        <div class="jumbo">
            <div class="testo-jumbo">
                <h2>Commence Business</h2>
                <h1>Distant Mentoring Program</h1>
                <button>
                    Download free guidebook
                    <i class="fas fa-long-arrow-alt-right"></i>
                </button>
            </div>
        </div>
        <!-- * /jumbotron -->

        <!-- * main -->
        <main>
            <!-- ! sezione learn-about -->
            <section id="learn-about">
                <div class="contenitore-learn-about">
                    <div class="testo-learn-about">
                        <h4>Everything in <strong>maxcoach</strong></h4>
                        <h2>Learn about our <span>Work Culture</span> at MaxCoach</h2>
                        <p>Spend some time to visit our website or head office and discover our current courses, enrollment procedure, and registration deadline. We're opening new classes every beginning of each month.</p>
                        <small>Have questions? <span>Get Free Guide <i class="fas fa-long-arrow-alt-right"></i></span></small>
                    </div>
                    <div class="img-learn-about">
                        <img class="img-base" src="img/stock-full-hd-10-ohki1ayywq3cqutettrncduujpoaorifqu4relt2ts.jpg" alt="zona meeting">
                        <img class="img-sovrapposta" src="img/about-us-01-ohkia3qg98rq9vg3s0mn2hkflr1migdqdw370qnegc.jpg" alt="donna al pc">
                        <img class="decorazione-1" src="img/maxcoach-shape-07.png" alt="decorazione-1">
                        <img class="decorazione-2" src="img/maxcoach-shape-02.png" alt="decorazione-2">
                    </div>
                </div>
            </section>
            <!-- ! /sezione learn-about --> 

            <!-- ! sezione numeri -->
            <section id="numeri">
                <div class="contenitore-numeri">
                    <div class="learners">
                        129 <span><i class="fas fa-plus"></i></span>
                        <h4>enrolled learners</h4>
                    </div>
                    <div class="finished-sessions">
                        80
                        <h4>finished sessions</h4>
                    </div>
                    <div class="satisfaction-rate">
                        4 <span><i class="fas fa-percent"></i></span>
                        <h4>satisfaction rate</h4>
                    </div>
                </div>
            </section>
            <!-- ! /sezione numeri -->

            <!-- ! sezione upgrade-skills -->
            <section id="upgrade-skills">
                <div class="contenitore-upgrade-skills">
                    <div class="upgrade-skills-sx">
                        <img class="img-base" src="img/stock-full-hd-11-670x450.jpg" alt="ragazza al telefono">
                        <img class="logo-youtube" src="img/icon-youtube-play.png" alt="logo youtube">
                        <img class="decorazione-3" src="img/maxcoach-shape-05-100x100.png" alt="decorazione-3">
                        <img class="decorazione-2" src="img/maxcoach-shape-07-100x100.png" alt="decorazione-2">
                    </div>
                    <div class="upgrade-skills-dx">
                        <h4>How we work</h4>
                        <h2>Upgrade Your Skills <span>Upgrade Your Life</span></h2>
                        <p>Opening up more opportunities in front of you to get the ticket to more enjoyable doo in life. Getting equipped with new skills for new sets of insights into your career. MaxCoach accompany learners in every stage of learning.</p>
                        <small>Download free guidebook <i class="fas fa-long-arrow-alt-right"></i></small>
                    </div>
                </div>
            </section>
            <!-- ! /sezione upgrade-skills -->

            <!-- ! sezione online-courses -->
            <section id="online-courses">
                <div class="contenitore-online-courses">
                    <h4>join maxcoach at best</h4>
                    <h2>Latest Online <span>Courses</span></h2>

                    <div class="box-corsi">
                        <div v-if="corso.costo != '$0.00'" v-for="corso in corsi">
                            <img :src="'img/corso-' + corso.immagine + '.jpg'" :alt="corso.descrizione">

                            <h3>{{ corso.costo }}</h3>
                            <h4>{{ corso.descrizione }}</h4>
                        </div>
                        <div v-if="corso.costo == '$0.00'" v-for="corso in corsi">
                            <img :src="'img/corso-' + corso.immagine + '.jpg'" :alt="corso.descrizione">

                            <div class="free">Free</div>

                            <h3>{{ corso.costo }}</h3>
                            <h4>{{ corso.descrizione }}</h4>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ! /sezione online-courses -->

            <!-- ! sezione people -->
            <section id="people">
                <div class="contenitore-people">
                    <div class="testo-people">
                        <h4>Testimonials</h4>
                        <h2>Why Do People<span> *Hearts*</span> Us?</h2>
                        <p>Seeking for verbals of our service quality? find them here. Everything is trasparent and straightforward for your sense of justification.</p>
                        <small>view all <i class="fas fa-long-arrow-alt-right"></i></small>
                    </div>

                    <div class="card-people">
                        <div class="box-card">
                            <h4>Professional team of specialists and passionate mentors at reach</h4>

                            <h4>I need to get a certification for English proficiency and MaxCoach is my best choice. Their tutors are smart ad professional when dealing with students.</h4>

                            <div class="avatar">
                                <img src="img/testimonial-avata-01.jpg" alt="avatar">
                                <h5>Madley Pondor
                                    <small>/ IT Specialis</small>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ! /sezione people -->

            <!-- ! sezione transform-you -->
            <section id="transform-you"></section>
            <!-- ! /sezione transform-you -->

            <!--! sezione blog -->
            <section id="blog"></section>
            <!--! /sezione blog -->

            <!-- ! sezione subscribe -->
            <section id="subscribe"></section>
            <!-- ! /sezione subscribe -->
        </main>
        <!-- * /main -->

        <!-- * footer -->
        <footer></footer>
        <!-- * /footer -->

    </div>
    <!-- * /contenitore -->
    <script src="js/script.js"></script>
</body>
</html>